body {
    background-color: #FFFBF5;
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
    padding: 32px;
}

h1, h2, h3, h4, h5, h6 {
    color: #396F7F;
}

a {
    color: #D94D3F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    background-color: #E4EBCE;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.9em;
}

code {
    font-family: Consolas, monaco, monospace;    
}